---
// Components
// - Layout
import Layout from '../layouts/Layout.astro'
// - UI
import SidebarContent from '../components/blocks/basic/StickySidebar.astro'
import Hero from '../components/blocks/hero/PageHeader.astro'

// Content
// - SEO
const SEO = {
	title: 'Sintesys.id | Syarat dan Ketentuan',
	description:
		"Sintesys's terms of service outlines the rules and regulations that govern your use of our services. Please read them carefully to understand your rights and responsibilities."
}
// - Page Header
const header = {
	title: 'Syarat dan Ketentuan',
	text: 'SYARAT & KETENTUAN PENGGUNAAN PLATFORM SINTESYS.'
}
---

<Layout title={SEO.title} description={SEO.description}>
	<Hero title={header.title} text={header.text} />
	<SidebarContent>
		<div slot="sidebar">
			<h3>Introduction</h3>
			<p>
				Mohon luangkan waktu sejenak untuk membaca syarat dan ketentuan ini agar memahami hak dan tanggung jawab Anda saat menggunakan layanan kami.
			</p>
		</div>
		<div class="basic-text">
			<h4>Welcome to Sintesys</h4>
			<p>
				<b>Sintesys</b> (selanjutnya disebut <b>Sintesys</b> atau <b>“Kami”</b>) merupakan <i>platform workforce management system</i> yang dikembangkan oleh <b>PT Infomedia Solusi Humanika</b> (selanjutnya disebut <b>ISH</b>) yang dirancang untuk menyederhanakan dan mengotomatisasi proses kerja guna meningkatkan efisiensi organisasi. 
			<p>
				Saat menggunakan <b>Sintesys</b>, Pengguna (selanjutnya disebut “Anda” atau “Pengguna”) tunduk pada pedoman, aturan, atau ketentuan yang berlaku, yang dapat diperbarui dari waktu ke waktu (termasuk dan tidak terbatas pada Kebijakan Privasi <b>Sintesys</b>).
			</p>
			<p>
				Dengan menggunakan Situs dan/atau Aplikasi maka Anda dianggap telah membaca,  mengerti, memahami, dan menyetujui semua isi Syarat dan Ketentuan ini.  Jika Anda tidak menerima dan menyetujui salah satu, sebagian, atau seluruh isi Syarat dan Ketentuan ini, maka Anda tidak dapat menggunakan <b>Sintesys</b>.
			</p>	
		</div>
	</SidebarContent>
	<SidebarContent classes="bg-neutral-50 dark:bg-neutral-900">
		<div slot="sidebar">
			<h3>Definisi</h3>
		</div>
		<div class="basic-text">
		<ol>
			<li><strong>Akun</strong> adalah akun yang telah didaftarkan untuk dapat mengakses <strong><em>Sintesys</em></strong>.</li>
			<li><strong>Data Pribadi</strong> adalah setiap informasi yang benar dan nyata yang melekat dan dapat diidentifikasi pada masing-masing individu, baik secara langsung maupun tidak langsung, baik berdasarkan salah satu maupun gabungan darinya, baik melalui sistem elektronik maupun non elektronik. Informasi yang dimaksud termasuk namun tidak terbatas pada nama seseorang, nomor identitas, nomor handphone, lokasi, identitas dalam jaringan sistem elektronik, dan hal-hal lain yang berkaitan dengan individu tersebut.</li>
			<li><strong>Data Profil</strong> adalah data yang terdapat pada halaman profil bagi Pengguna.</li>
			<li><strong>Layanan</strong> adalah Aplikasi Sintesys web dan mobile  pengetahuan</li>
			<li><strong>Pengguna</strong> adalah karyawan ISH yang sudah terdaftar pada Layanan Sintesys.</li>
			<li><strong>Situs</strong> adalah <a href="https://app.sintesys.id/">https://app.sintesys.id/</a></a>.</li>
       </ol>
		</div>
	</SidebarContent>
	<SidebarContent>
		<div slot="sidebar">
			<h3>Limitation of Liability</h3>
			<p>
				This section outlines the limitations of our liability regarding the use of Sintesys services.
				Understanding these limitations helps you know the extent of our responsibilities and your
				rights.
			</p>
		</div>
		<div class="basic-text">
			<h4>General Limitations</h4>
			<p>
				Sintesys is provided on an "as is" and "as available" basis. We do not warrant that the service
				will be uninterrupted, error-free, or completely secure. We disclaim all warranties, whether
				express or implied, including but not limited to the implied warranties of merchantability,
				fitness for a particular purpose, and non-infringement.
			</p>
			<p>
				We are not liable for any damages resulting from the use or inability to use our services,
				including but not limited to direct, indirect, incidental, special, consequential, or
				punitive damages. This includes damages for loss of profits, data, or other intangibles.
			</p>

			<h4>Third-Party Services</h4>
			<p>
				Sintesys may include links to third-party websites or services that are not owned or controlled
				by us. We do not endorse or assume any responsibility for any such third-party sites,
				information, materials, products, or services. Accessing and using these third-party
				services is at your own risk.
			</p>
			<p>
				We are not liable for any loss or damage incurred as a result of any dealings with
				third-party websites or services, including the sharing of your information with such third
				parties. It is your responsibility to review the terms and conditions and privacy policies
				of any third-party websites or services you use.
			</p>

			<h4>Maximum Liability</h4>
			<p>
				In no event shall our total liability to you for all claims arising out of or relating to
				the use of or inability to use the service exceed the amount paid by you, if any, for
				accessing Sintesys during the twelve (12) months immediately preceding the date of the claim.
				This limitation applies regardless of the form or source of the claim or loss, whether such
				liability arises out of any claim based upon contract, warranty, tort, or otherwise.
			</p>
			<p>
				Some jurisdictions do not allow the exclusion or limitation of liability for consequential
				or incidental damages, so the above limitation may not apply to you. In such cases, our
				liability will be limited to the fullest extent permitted by applicable law.
			</p>
		</div>
	</SidebarContent>
</Layout>
